.bussinesData{
    position:fixed;
     left:0;
     top:25%;
  }
  .service{
    position:absolute;
     left:20%;
     right:15%;
     top:25%;
  }
  .imgOrderService{
    width:10%;
    position:fixed;
    right:5%;
    top:60%;
    cursor:pointer
  }
  @media screen and (max-width: 900px) {
    .card {
      width: calc(50% - 4px);
    }
    .service{
      right:5%;
    }
  }
  @media screen and (max-width: 750px) {
    .card {
      width: calc(100% - 4px);
    }
    .bussinesData{
      display: none;
    }
  }